@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';
@import '~bulma/sass/components/card';

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  strong: {
    color: currentColor;
  }
  &:hover {
    color: $link-hover;
  }
}
