@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/derived-variables.sass';
@import '~bulma/sass/components/menu.sass';

$menu-collapse-arrow: $link !default;

.menu {
  li {
    .vb-menu-item__icon {
      margin-right: 5px;
    }
    .vb-menu-item__label {
      position: relative;
      align-items: center;
      display: flex;
      cursor: pointer;
    }
    .vb-menu-item__label.has-submenu:after {
      content: ' ';
      border: 3px solid transparent;
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      display: block;
      height: 0.625em;
      width: 0.625em;
      margin-top: -0.375em;
      right: 1.125em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      border-color: $menu-collapse-arrow;
      transform: rotate(-45deg);
      -webkit-transform-origin: 35% 65%;
      transform-origin: 35% 65%;
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    }
    &.submenu-opened {
      .vb-menu-item__label.has-submenu:after {
        transform: rotate(135deg);
      }
    }
  }
}
